.board {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 80px;
  background-color: #fff5a5;
  box-shadow:
    0 0 0 5px var(--sunset-one),
    0 0 0 15px var(--sunset-two),
    0 0 0 30px var(--sunset-three),
    0 0 0 60px var(--sunset-four);

/*   box-shadow:
    0 0 0 5px #feff89,
    0 0 0 15px #ff9f68,
    0 0 0 30px #f85959,
    0 0 0 60px #ac005d; */
}

.beginner {
  width: 440px;
  height: 360px;
}

.intermediate {
  width: 450px;
  height: 390px;
}

.expert {
  width: 725px;
  height: 425px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.beginner .tile {
  width: 40px;
  height: 40px;
}

.intermediate .tile {
  width: 30px;
  height: 30px;
}

.expert .tile {
  width: 25px;
  height: 25px;
}

.bomb {
  background-color: black;
}

.hidden {
  background-color: var(--start-one);
}

.hidden:nth-child(odd) {
  background-color: var(--start-two);
}

.ocean {
  box-shadow: inset 0 0 0 2px var(--ocean-border);
  background-color: var(--ocean-main);
}

.land {
  box-shadow: inset 0 0 0 2px var(--land-border);
  background-color: var(--land-main);

}

.bad-icons {
  color: var(--bad);
}

.good-icons {
  color: var(--good);
}

@media screen and (max-width: 920px) {
  .expert {
    width: 425px;
    height: 725px;
  }
}

@media screen and (max-width: 640px) {
  .beginner {
    height: 440px;
    width: 360px;
  }

  .intermediate {
    height: 450px;
    width: 390px;
  }
}

@media screen and (max-width: 575px) {
  .beginner {
    height: 330px;
    width: 270px;
  }

  .intermediate {
    height: 375px;
    width: 325px;
  }

  .expert {
    width: 340px;
    height: 580px;
  }


  .beginner .tile {
    width: 30px;
    height: 30px;
  }

  .intermediate .tile {
    width: 25px;
    height: 25px;
  }

  .expert .tile {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 420px) {
  .intermediate {
    height: 300px;
    width: 260px;
  }

  .expert {
    width: 255px;
    height: 435px;
  }

  .intermediate .tile {
    width: 20px;
    height: 20px;
  }

  .expert .tile {
    width: 15px;
    height: 15px;
  }
}


