.board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: 2px solid black;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  font-size: 1.5rem;
}

.bomb {
  background-color: black;
}

.hidden {
  background-color: #357DB5;
}

.hidden:nth-child(odd) {
  background-color: #136AAC;
}

.reveal {
  background-color: #FFE37F;
}

.bad-icons {
  color: #FF4233;
}

.gameEnd {
  display: flex;
  justify-content: center;
  align-items: center;;
  position: absolute;
  background-color: black;
  opacity: .1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}


