* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Architects Daughter', Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  background-color: rgb(100, 149, 237);
  padding: 10px 20px;
  box-shadow: 0 3px rgb(76, 123, 209);
}

.site-title {
  font-weight: lighter;
  letter-spacing: 4px;
  margin: 0;
  margin-left: 10px;
  display: inline-block
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

footer h4 {
  margin: 0;
  display: inline-block;
  letter-spacing: 2px;
}


.game-title {
  margin: 20px 0;
  text-align: center;
  letter-spacing: 4px;
  font-size: 2rem;
  font-weight: normal;
}

.carousel-parent {
  padding-bottom: 100px;
}

.carousel {
  position: relative;
  height: 500px;
  width: 50%;
  margin: 0 auto;
}

.carousel-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: border 100ms linear;
  border: 2px solid black;
}

.carousel-container:hover,
.carousel-container:active {
  border: 2px solid rgb(100, 149, 237);
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  height: 100%;
  position: relative;
  transition: transform 400ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}

.carousel-slide:nth-child(3) {
  background-color: palegreen;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.15);
  width: 35px;
  height: 35px;
  z-index: 1;
}

.carousel .left {
  left: -50px;
  cursor: pointer;
}

.carousel .left i {
  font-size: 20px;
}

.carousel .right {
  right: -50px;
  cursor: pointer;
}

.carousel .right i {
  font-size: 1.3rem;
}


.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.carousel-dot {
  border: 0;
  margin: 0 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,0.3);
  cursor: pointer;
}

.current-dot {
  background: rgba(0,0,0,0.7);
}

@media screen and (max-width: 1600px) {
  .carousel {
    height: 425px;
  }
}

@media screen and (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

  .site-title {
    margin: 0;
    font-size: 1.8rem;
  }

  footer {
    flex-direction: column;
    padding: 10px;
  }

  footer h4 {
    text-align: center;
  }

  .carousel {
    width: 100%;
  }

  .carousel-container {
    border: 1px solid transparent
  }
  .carousel-container:hover,
  .carousel-container:active {
    border: 1px solid cornflowerblue;
  }

  .carousel .left {
    left: 5%;
  }

  .carousel .right {
    right: 5%;
  }
}

@media screen and (max-width: 480px) {
  .site-title {
    margin: 0;
    font-size: 1.6rem;
  }

  footer h4 {
    font-size: .7rem;
  }

}

@media screen and (max-width: 350px) {
  .site-title {
    margin: 0;
    font-size: 1.5rem;
  }
}