.dashboard {
  width: 500px;
  height: 50px;
  position: relative;
  margin-bottom: 80px;
}

.start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level {
  color: white;
  font-size: 1.3rem;
}

.level:active {
  transform: scale(0.9);
}

.level[value=beginner] {
  background-color: #799351;
}

.level[value=beginner]:hover {
  box-shadow: 0 0 0 3px #698540;
}

.level[value=intermediate] {
  background-color: #ffa36c;
}

.level[value=intermediate]:hover {
  box-shadow: 0 0 0 3px #f08e56;
}

.level[value=expert] {
  background-color: #a20a0a;
}

.level[value=expert]:hover {
  box-shadow: 0 0 0 3px #880505;
}

.playing {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: auto;
}

.dash-flag {
  width: 7em;
  text-align: right;
}

.dash-flag span {
  font-size: 1.1em;
}

.dash-flag i {
  margin-left: 0.5em;
}

.reset-Btn {
  margin: 0 75px;
}

.reset-Btn:hover {
  box-shadow: 0 0 0 3px #d33f3f;
}

.reset-Btn:active {
  transform: scale(0.9);
}

.timer {
  width: 7em;
}

@media screen and (max-width: 420px) {
  .dashboard {
    width: 100vw;
  }

  .level {
    font-size: 1rem;
  }

  .reset-Btn {
    margin: 0 25px;
  }
}

@media screen and (max-width: 380px) {

  .level {
    font-size: .9rem;
  }
}

