@font-face {
  font-family: 'Treasure Map';
  src: url('treasuremap-ea1vj-webfont.woff2') format('woff2'),
       url('treasuremap-ea1vj-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

:root {
  --land-main: #00bd56;
  --land-border: #01ac4e;
  --ocean-main: #207dff;
  --ocean-border: #1871ee;
  --start-one: #f0dab1;
  --start-two: #f6edcf;
  --good: #966c3b;
  --bad: #FF4233;

  --sunset-one: #fff5a5;
  --sunset-two: #ffaa64;
  --sunset-three: #ff8264;
  --sunset-four: #ff6464;
}

body {
  margin: 0;
  font-family: 'Treasure Map', -apple-system, BlinkMacSystemFont, cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.leaders-cont::-webkit-scrollbar {
  width: 1em;
  color: red;
}
